// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$teal-400: hsla(200, 83%, 31%, 1);
$teal-100: hsla(200, 83%, 31%, .25);

$mint-400: hsla(183, 74%, 52%, 1);
$mint-100: hsla(183, 74%, 52%, .25);

$magenta-400: hsla(308, 100%, 43%, 1);
$magenta-100: hsla(308, 100%, 43%,.25);


$grey-50: #fafafa;
$grey-100: #e9e9e9;
$grey-100-tx: #e9e9e97a;
$grey-200: #c9c9c9;
$grey-300: #a1a19f;
$grey-350: #7c8892;
$grey-400: #3c3c3c;
$grey-700: #1a1a1a;


$primary: $teal-400;
$secodary: $grey-400;

@import "../assets/bootstrap5/functions";
@import "../assets/bootstrap5/variables";
@import "../assets/bootstrap5/utilities";

$utilities: map-merge( 
$utilities, ( "width": map-merge( 
map-get( $utilities, "width"), ( responsive: true ),),)
);

.container {
    --bs-gutter-x: 1.5rem;
}